Proxy/build/
ScaleStore/build/
ScaleStore/tpcc_data
pages/
ScaleStore/Logs/
ScaleStore/TXN_LOG/
Proxy/backend/Proxy/TXN_LOG/
Proxy/backend/Proxy/Logs/
spdlog
data/
new_data/
data3/
Proxy_ycsb/build
data_ycsb/
data_scale/
new_data_ycsb
result/
validate_data
Proxy_ycsb/backend/Proxy/TXN_LOG/